<!DOCTYPE html>
<html ng-app="AngularMaterial">

{{>head}}

<body ng-cloak>
    {{>toolbar}}

    <md-content>
        <div id="dtr-management" ng-init="username='{{username}}'; month='{{month}}'; year='{{year}}'" ng-controller="EditDtrManagementController" class="md-padding site-content">
            <h2 class="module-header" style="margin-left: 20px"> Edit DTR > <% details.description %></h2>
            <div layout-align="center">
                <form name="editScheduleForm" class="edit-schedule-form md-padding">
                    <div class="form-actions">
                        <md-button class="md-raised custom-button" btn-cancel-dtr-action>Cancel</md-button>
                        <md-button class="md-raised custom-button" btn-reset-dtr-action>Reset</md-button>
                        <md-button class="md-raised custom-button-primary" btn-save-dtr-action ng-disabled="editScheduleForm.$invalid">Save</md-button>
                    </div>

                    <div class="error-box" ng-show="existing">
                        <% message %>
                    </div>

                    <table id="my-dtr" style="margin-top:10px; margin-bottom:20px">
                        <thead>
                            <tr>
                                <th style="font-size:14px" ng-repeat="column in columns">
                                    <% column %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(ind, datum) in form.attributes.data"  ng-if="$index > 0">

                                <td data-label="Day">
                                    <% datum.day %>
                                </td>

                                <td data-label="Arrival">
                                    <input type="time" ng-model="datum.arrival" max-time="datum.departure" name="arrival" placeholder="eg. 10:00">
                                  <!--   <md-input-container class="md-block" flex-gt-sm>
                                        
                                        <input type="time" ng-model="datum.arrival" max-time="datum.departure" name="arrival" placeholder="eg. 10:00">
                                        <div ng-messages="datum.arrival.$error" role="alert">
                                            <div ng-message="time">Arrival Time is invalid.</div>
                                        </div>
                                    </md-input-container> -->
                                </td>

                                <td data-label="Departure">
                                    <input type="time" ng-model="datum.departure" min-time="datum.arrival" name="departure" placeholder="eg. 10:00">
                                    <!-- <md-input-container class="md-block" flex-gt-sm>
                                        
                                        <input type="time" ng-model="datum.departure" min-time="datum.arrival" name="departure" placeholder="eg. 10:00">
                                        <div ng-messages="datum.departure.$error" role="alert">
                                            <div ng-message="time">Departure Time is invalid.</div>
                                        </div>
                                    </md-input-container> -->
                                </td>

                                <td data-label="Hours">
                                    <% datum.hours %>
                                </td>

                                <td data-label="Minutes">
                                    <% datum.minutes %>
                                </td>

                                <td data-label="Leave">
                            <!--         <md-select ng-model="datum.leave">
                                        <md-option ng-repeat="leave in leaveTypes" ng-value="leave">
                                            <% leave %>
                                        </md-option>
                                    </md-select> -->
                           <!--          <md-input-container class="md-block" flex-gt-sm>
                                        <label class="attribute-header">Leave Type</label>
                                        <md-select ng-model="datum.leave">
                                            <md-option ng-repeat="leave in leaveTypes" ng-value="leave">
                                                <% leave %>
                                            </md-option>
                                        </md-select>
                                    </md-input-container> -->
                                </td>

                                <td data-label="Quantity">
                                    <input ng-model="datum.quantity" type="number" step="0.5" max="1" min="0" ng-required="datum.leave" ng-disabled="datum.leave === ''">
                              <!--       <md-input-container class="md-block" flex-gt-sm>
                                        <label class="attribute-header">Quantity</label>
                                        <input ng-model="datum.quantity" type="number" step="0.5" max="1" min="0" ng-required="datum.leave" ng-disabled="datum.leave === ''">
                                    </md-input-container> -->
                                </td>

                                <td data-label="Remarks">
                                    <input type="text" ng-model="datum.remarks" name="remarks">
                                  <!--   <md-input-container class="md-block" flex-gt-sm>
                                        <label class="attribute-header">Remarks</label>
                                        <input type="text" ng-model="datum.remarks" name="remarks">
                                    </md-input-container> -->
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div class="form-actions">
                        <md-button class="md-raised custom-button" btn-cancel-dtr-action>Cancel</md-button>
                        <md-button class="md-raised custom-button" btn-reset-dtr-action>Reset</md-button>
                        <md-button class="md-raised custom-button-primary" btn-save-dtr-action ng-disabled="editScheduleForm.$invalid">Save</md-button>
                    </div>
                </form>
            </div>
        </div>

        {{>footer}}
    </md-content>
</body>

</html>
