<!DOCTYPE html>
<html ng-app="AngularMaterial">

{{>head}}

<body ng-cloak>
    {{>toolbar}}
    <md-content>
        <div ng-controller="CreateShiftController" class="md-padding site-content">
            <div style="margin-top: 3em;">
                <h2 class="md-toolbar-item md-breadcrumb md-subhead">
                    {{#each breadcrumbs}}
                        <span class="md-breadcrumb-page" btn-redirect-action url="{{this.url}}">{{this.name}}</span>
                        <md-icon aria-hidden="true" md-svg-src="/images/svg/right.svg" style="margin-top: -2px"></md-icon>
                    {{/each}}
                    <span class="md-breadcrumb-current">{{page}}</span>
                </h2>
            </div>
            <div layout-align="center">
                <form name="createShiftForm" class="create-shift-form md-padding">
                    <h2>Create Shift</h2>
                    <div class="form-actions" style="margin-top: -3em;">
                        <md-button class="md-raised custom-button" btn-cancel-action>Cancel</md-button>
                        <md-button ng-disabled="createShiftForm.$invalid" class="md-raised custom-button-primary" btn-create-shift-action>Create</md-button>
                    </div>

                    <div class="error-box" ng-show="existing">
                        <% message %>
                    </div>

                    <div layout-gt-sm="column">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm style="margin-right: 2em;">
                                <label class="attribute-header">Name</label>
                                <input type="text" ng-model="form.name" name="name" required>
                                <div ng-messages="createShiftForm.name.$error" role="alert">
                                    <div ng-message="required">Name is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label class="attribute-header">Description</label>
                                <input type="text" ng-model="form.description" name="description" required>
                                <div ng-messages="createShiftForm.description.$error" role="alert">
                                    <div ng-message="required">Description is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm style="margin-right: 2em;">
                                <label class="attribute-header">Shift Start</label>
                                <input type="time" ng-model="form.start" name="start" placeholder="eg. 10:00" required>
                                <div ng-messages="createShiftForm.start.$error" role="alert">
                                    <div ng-message="time">Shift Start is invalid.</div>
                                    <div ng-message="required">Shift Start is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label class="attribute-header">Shift End</label>
                                <input type="time" ng-model="form.end" name="end" placeholder="eg. 18:00" required>
                                <div ng-messages="createShiftForm.end.$error" role="alert">
                                    <div ng-message="time">Shift End is invalid.</div>
                                    <div ng-message="required">Shift End is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm style="margin-right: 2em;">
                                <label class="attribute-header">Hours Flexible</label>
                                <input type="number" ng-model="form.hours_flex" placeholder="Please input number of flexible hours." name="hours_flex">
                            </md-input-container>
                            <span flex></span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <md-button class="md-raised custom-button" btn-cancel-action>Cancel</md-button>
                        <md-button ng-disabled="createShiftForm.$invalid" class="md-raised custom-button-primary" btn-create-shift-action>Create</md-button>
                    </div>
                </form>
            </div>
        </div>

        {{>footer}}
    </md-content>
</body>

</html>
