
        <!--div ng-controller="ScheduleController" class="md-padding site-content"-->
          <div layout="row" ng-init="username1='{{username}}';notify='{{notify}}';message='{{message}}';success='{{success}}'" ng-controller="ScheduleController" layout-align="center center" layout-wrap>


            <div class="md-padding">

                <div ng-if="hasSchedules">
                    <table id="schedule-table">
                        <thead>
                            <tr>
                                <th ng-repeat="column in columns">
                                    <% column %>
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="schedule in schedules | orderBy: 'name'">
                            <td data-label="Name">
                                <% schedule.name %>
                            </td>
                            <td data-label="Description">
                                <% schedule.description %>
                            </td>
                            <td data-label="Created By">
                                <% schedule.type %>
                            </td>
                            <td data-label="Created By">
                                <% schedule.created_by %>
                            </td>
                            <td data-label="Action">
                                <md-button class="md-raised custom-button-primary" aria-label="View Schedule" btn-view-schedule-action schedule-id="<% schedule._id %>">View</md-button>
                                <md-button class="md-raised custom-button-primary" aria-label="Remove Schedule" btn-remove-schedule-action schedule-id="<% schedule._id %>">Remove</md-button>
                            </td>
                        </tr>


                    </table>

                </div>
                <table>
                  <tr>
                    <td data-label="Action">
                        <form name="scheduleForm" class="schedule-form md-padding">
                      <md-input-container class="md-block" flex-gt-sm>
                          <label class="attribute-header">Add Schedule</label>
                          <md-select ng-model="scheduleForm.scheduled" name="scheduled" >
                              <md-option ng-repeat="scheduled in schedules2" ng-value="scheduled.id" select-schedule-action schedule-id="<% scheduled.id %>">
                                  <% scheduled.name %>
                              </md-option>
                          </md-select>
                        </md-input-container>
                    </form>
                        <!--md-button class="md-raised custom-button-primary" aria-label="Edit Shift" btn-edit-shift-action shift-id="<% shift._id %>">Edit</md-button -->
                    </td>
                  </tr>
                </table>
                <div ng-if="!hasSchedules">
                    No data available
                </div>
            </div>
        </div>
