<div>
    <h2></h2>
    <table align="center" id="weekly-table" style="margin-bottom: 1em;">
        <thead>
            <tr>
                <th ng-repeat="column in columns">
                    <% column %>
                </th>
            </tr>
        </thead>
        <tr ng-repeat="(ind, day) in form.attributes.data" ng-class="{'disabled-tr': form.exclude_weekends === true && (day.label === 'Sunday' || day.label === 'Saturday')}">
            <td data-label="Day" style="width:10em;">
                <input type="hidden" value="<% day.non_workday %>" name="non_workday">
                <md-input-container class="md-block" flex-gt-sm ng-show="form.exclude_weekends === true && (day.label === 'Sunday' || day.label === 'Saturday')">
                    <input value="Non-workday (<% day.label %>)" readonly aria-label="Non-workday" class="warning-data">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm ng-hide="form.exclude_weekends === true && (day.label === 'Sunday' || day.label === 'Saturday')">
                    <input ng-model="day.label" name="day" type="text" readonly aria-label="Day">
                </md-input-container>
            </td>
            <td data-label="Shift Start" style="width:10em;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="attribute-header">Shift Start</label>
                    <input type="time" ng-model="day.start" name="start" readonly>
                </md-input-container>
            </td>
            <td data-label="Shift End" style="width:10em;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="attribute-header">Shift End</label>
                    <input type="time" ng-model="day.end" name="end" readonly>
                </md-input-container>
            </td>
            <td data-label="Hours Flexible" style="width: 10em;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="attribute-header">Hours Flexible</label>
                    <input type="number" min="0" ng-model="day.hours_flex" name="hours_flex" readonly>
                </md-input-container>
            </td>
            <td data-label="Shift" style="width:10em;">
                <md-input-container>
                    <label class="attribute-header">Shift</label>
                    <input type="text" ng-model="day.shift" name="shift" readonly>
                </md-input-container>
            </td>
        </tr>
    </table>
</div>
