.md-button:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0) !important;
}

.team-schedule-menu-button {
    min-width: 1% !important;
    margin: 0;
    padding: 0;
}

.custom-button {
    color: rgb(49, 46, 46);
    background-color: #f4f4f4 !important;
    font-size: 12px;
}

.custom-button-send {
    color: rgb(49, 46, 46);
    background-color: #9CCC65 !important;
    font-size: 12px;
    margin-right: 80px;
}

.custom-button-negate {
    color: rgb(49, 46, 46);
    background-color: #F44336 !important;
    font-size: 12px;
}

.custom-button:not([disabled]):hover {
    opacity: 0.5;
    color: black;
}

.custom-button[disabled] {
    color: rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
}

.custom-button-primary {
    color: white !important;
    background-color: #1969a6 !important;
    font-size: 12px;
}

.custom-button-primary:not([disabled]):hover {
    opacity: 0.5;
    background-color: #1969a6 !important;
    color: black;
}

.custom-button-primary[disabled] {
    color: rgb(187, 187, 187);
    background-color: grey !important;
}

.create-button {
    margin-top: 5em !important;
    margin-right: 1em !important;
    position: fixed !important;
}

.create-view-button {
    margin-top: 5em !important;
    right: 8em !important;
    position: fixed !important;
}

.edit-view-button {
    margin-top: 5em !important;
    margin-right: 1em !important;
    position: fixed !important;
}
