<md-dialog aria-label="Create Shift dialog" id="create-shift-dialog" class="create-shift-dialog">
    <md-toolbar>
        <h3 class="md-toolbar-tools">Create Shift</h3>
    </md-toolbar>
    <form name="createShiftForm">
        <md-dialog-content class="md-padding">
            <div layout-gt-sm="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" ng-model="shift.name" required>
                    <div ng-messages="createShiftForm.name.$error" role="alert" ng-if="createShiftForm.name.$touched">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Description</label>
                    <input type="text" ng-model="shift.description" required>
                    <div ng-messages="createShiftForm.description.$error" role="alert" ng-if="createShiftForm.description.$touched">
                        <div ng-message="required">Description is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Shift Start</label>
                    <input type="time" ng-model="shift.shiftStart" required>
                    <div ng-messages="createShiftForm.shiftStart.$error" role="alert" ng-if="createShiftForm.shiftStart.$touched">
                        <div ng-message="required">Shift Start is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Shift End</label>
                    <input type="time" ng-model="shift.shiftEnd" required>
                    <div ng-messages="createShiftForm.shiftEnd.$error" role="alert" ng-if="createShiftForm.shiftEnd.$touched">
                        <div ng-message="required">Shift End is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Flexi</label>
                    <input type="number" ng-model="shift.flexi">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" id="dialogActions_create-shift-dialog">
            <md-button ng-click="cancel()" class="md-raised">Cancel</md-button>
            <md-button type="submit" ng-disabled="createShiftForm.$invalid" class="md-raised md-primary">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
